<?xml version="1.0"?>
<launch>
  <include file="$(find wheeltec_create_map)/launch/lio_sam_slam.launch">
  </include>



  <include file="$(find hdl_graph_slam)/launch/hdl_graph_slam_imu.launch">
    <!-- <arg name="points_topic" value="/velodyne/points_raw" /> -->
    <arg name="points_topic" value="/points_concat"/>
    <arg name="imu_topic" value="/ahrs_imu/imu_data"/>
    <arg name="enable_imu_frontend" value="true"/>
    <arg name="enable_floor_detection" value="false"/>
    <arg name="enable_gps" value="false"/>
    <arg name="enable_imu_acc" value="false"/>
    <arg name="enable_imu_ori" value="false"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hdl_graph_slam)/rviz/hdl_graph_slam.rviz" output="screen"/>
</launch>
